<%@ Master Language="C#" MasterPageFile="~/MasterPages/Main.Master" AutoEventWireup="true" CodeBehind="NewsItem.master.cs" Inherits="MindBus.Extensions.MasterPages.NewsItem" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
 <div class="grid66">
        <umbraco:macro filelocation="~/macroScripts/News/NewsPageContent.cshtml" runat="server"></umbraco:macro>
    </div>
</asp:Content>
