<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/masterpages/Main.master"
    CodeBehind="Project.master.cs" Inherits="MindBus.Extensions.MasterPages.Project" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <h2>
        <umbraco:item field="pageTitle" useifempty="pageName" runat="server"></umbraco:item>
    </h2>
    <umbraco:macro filelocation="~/macroScripts/Projects/ProjectPageContent.cshtml" runat="server"></umbraco:macro>
</asp:Content>
