<%@ Master Language="C#" MasterPageFile="~/masterpages/Main.master" AutoEventWireup="true" CodeBehind="TextPage.master.cs" Inherits="MindBus.Extensions.MasterPages.TextPage" %>
  
<asp:content ID="Content1" ContentPlaceHolderId="body" runat="server">
  <div id="wrapper">
    <h2><umbraco:Item field="pageTitle" useIfEmpty="pageName" runat="server"></umbraco:Item></h2>
    <umbraco:Item field="bodyText" runat="server"></umbraco:Item>  
  </div>
</asp:content>