_ReSharper.DUUG
*.ReSharper.user
Resources
obj
*.bat
*.suo
*.mdf
*.ldf
*.pdb
dummy.txt
Umbraco.Web/App_Data/TEMP
Umbraco.Web/App_Data/umbraco.config
Umbraco.Web/media/*/Cached
*/bin/MindBus.Extensions.dll