<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="StartupDeveloperDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Error Logging Modules and Handlers for ASP.NET">
      <control>/usercontrols/ELMAH.ascx</control>
    </tab>
  </section>
  <section id="courier">
    <areas>
      <area>courier</area>
    </areas>
    <tab caption="Umbraco Courier">
      <control>/umbraco/plugins/courier/dashboard/CourierDashboard.ascx</control>
    </tab>
  </section>
</dashBoard>