<?xml version="1.0" encoding="utf-8"?>
<XsltExtensions>
  <!--
  This file is used to register 3rt party xslt extensions (methods you can execute from xslt, like umbraco.library:NiceUrl)
	<ext assembly="assemblyName" type="assemblyName.namespace.type" alias="custom">
  -->
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Cms" alias="ucomponents.cms" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Dates" alias="ucomponents.dates" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.IO" alias="ucomponents.io" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Members" alias="ucomponents.members" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Strings" alias="ucomponents.strings" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Urls" alias="ucomponents.urls" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Xml" alias="ucomponents.xml" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Media" alias="ucomponents.media" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Nodes" alias="ucomponents.nodes" />
  <ext assembly="uComponents.Core" type="uComponents.Core.XsltExtensions.Search" alias="ucomponents.search" />

</XsltExtensions>