<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <logging>
	<disabledLogTypes xdt:Transform="Replace">
		<logTypeAlias>assigndomain</logTypeAlias>
		<logTypeAlias>copy</logTypeAlias>
		<logTypeAlias>debug</logTypeAlias>
		<logTypeAlias>delete</logTypeAlias>
		<logTypeAlias>login</logTypeAlias>
		<logTypeAlias>loginfailure</logTypeAlias>
		<logTypeAlias>logout</logTypeAlias>
		<logTypeAlias>move</logTypeAlias>
		<logTypeAlias>new</logTypeAlias>
		<logTypeAlias>notfound</logTypeAlias>
		<logTypeAlias>open</logTypeAlias>
		<logTypeAlias>packagerinstall</logTypeAlias>
		<logTypeAlias>packageruninstall</logTypeAlias>
		<logTypeAlias>ping</logTypeAlias>
		<logTypeAlias>publicaccess</logTypeAlias>
		<logTypeAlias>publish</logTypeAlias>
		<logTypeAlias>rollback</logTypeAlias>
		<logTypeAlias>save</logTypeAlias>
		<logTypeAlias>scheduledtask</logTypeAlias>
		<logTypeAlias>sendtopublish</logTypeAlias>
		<logTypeAlias>sendtotranslate</logTypeAlias>
		<logTypeAlias>sort</logTypeAlias>
		<logTypeAlias>unpublish</logTypeAlias>    		
	</disabledLogTypes>
  </logging>
  
</settings>