<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <elmah>
    <security allowRemoteAccess="yes"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah"
              xdt:Transform="Replace"
              connectionString="server=127.0.0.1;database=mydatabase;user id=myusername;password=mypassword" />
  </elmah>

  <appSettings>
    <add key="umbracoDbDSN"
         xdt:Locator="Condition(@key = 'umbracoDbDSN')"
         xdt:Transform="Replace"
         value="server=127.0.0.1;database=mydatabase;user id=myusername;password=mypassword"
         />
    <add key="umbracoDebugMode"
         xdt:Locator="Condition(@key = 'umbracoDebugMode')"
         xdt:Transform="Replace"
         value="false"
         />
    <add key="umbracoVersionCheckPeriod"
        xdt:Locator="Condition(@key = 'umbracoVersionCheckPeriod')"
        xdt:Transform="Replace"
        value="0"
        />	
    <add key="environment"
        xdt:Locator="Condition(@key = 'environment')"
        xdt:Transform="Replace"
        value="live"
        />
  </appSettings>

  <system.web>
    <customErrors xdt:Transform="SetAttributes(mode)" mode="RemoteOnly"/>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
    <trace xdt:Transform="SetAttributes(enabled)" enabled="false" />
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="website@mindbus.nl">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>