<meta charset="UTF-8">
<title>@Library.Coalesce(Model.MetaTitle, Model.NavigationTitle, Model.PageTitle, Model.Name)
    | @Parameter.fixedTitle</title>
    @*<title>Dutch Umbraco User Group</title>
*@<meta name="description" content="@Model.MetaDescription" />
<meta name="keywords" content="@Model.MetaKeywords" />
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
