<div class="gridcontainer" id="footer">
    <div class="grid33">
        <img src="/static/img/duug-footer.png" alt="DUUG" />
        <img src="/static/img/umbraco-footer.png" alt="umbraco" />
    </div>
    <div class="grid66">
        <ul class="sitemap">
            <li><a href="#">News</a>
                <ul>
                    <li><a href="#">News archive</a></li>
                    <li><a href="#">Search news</a></li>
                </ul>
            </li>
            <li><a href="#">Events</a>
                <ul>
                    <li><a href="#">News archive</a></li>
                    <li><a href="#">Search news</a></li>
                </ul>
            </li>
            <li><a href="#">Jobs</a>
                <ul>
                    <li><a href="#">News archive</a></li>
                    <li><a href="#">Search news</a></li>
                </ul>
            </li>
            <li><a href="#">Community</a>
                <ul>
                    <li><a href="#">News archive</a></li>
                    <li><a href="#">Search news</a></li>
                </ul>
            </li>
            <li><a href="#">About DUUG</a>
                <ul>
                    <li><a href="#">News archive</a></li>
                    <li><a href="#">Search news</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
