@{ 
    var parent = Model.AncestorOrSelf(1);

    if (parent != null)
    {
@*<ul id="mainnav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">About DUUG</a></li>
            </ul>*@
        
    <ul id="mainnav">
        @foreach (var item in parent.Children.Where("Template!=0").Where("Visible").Where("showInMainMenu"))
        {
            @RenderNode(item, "")
        }
    </ul>
    }
}
@helper RenderNode(dynamic item, string isLast)
    {
        var selected = Array.IndexOf(Model.Path.Split(','), item.Id.ToString()) >= 0 ? "active " : "";

    var url = item.NodeTypeAlias == "Home" ? "/" : item.Url;
	
    <li class="@selected"><a href="@url" >@item.Name</a> </li>
}